[include]
  path = ~/.gitconfig.env
[alias]
  a       = add .
  adp     = add -p
  amend   = commit --amend --no-edit
  amende  = commit --amend
  author  = "!git commit --amend --no-edit --author=\"$(git config user.name) <$(git config user.email)>\""
  ba      = branch -a
  bd      = branch -d
  bdd     = !git branch --merged | grep -v '*' | grep -v 'master' | xargs -I{} git branch -d {}
  bdf     = branch -D
  bdi     = branch-d-i
  bdai    = branch-d-a-i
  cancel  = reset --soft HEAD^
  cmm     = commit -m
  cmmx    = !git extract-branch-name | perl -pe 's/^(.)/\\U$1/g' >| .git/COMMIT_EDITMSG && $EDITOR .git/COMMIT_EDITMSG && cat .git/COMMIT_EDITMSG | git commit --file -
  cmminit = commit -m 'initialized' --allow-empty
  cmmimpl = commit -m 'feat: add initial implementation'
  cout    = checkout
  d       = "!git checkout \"$(git default-branch)\""
  dev     = checkout develop
  df      = diff
  dfc     = diff --cached
  fp      = fetch -p
  graph   = log --oneline --graph --decorate=full
  main    = checkout main
  master  = checkout master
  po      = push origin
  pof     = push origin -f
  pod     = !git push origin $(git default-branch)
  prod    = checkout production
  pi      = !git push-i
  i       = !git branch-i
  pull-f  = !git fetch && git reset --hard origin/$(git current-branch)
  r       = !git fp && git rebase
  ra      = rebase --abort
  rc      = rebase --continue
  rs      = rebase --skip
  ri      = !git rebase-i
  rod     = !git fetch && git rebase origin/$(git default-branch)
  rho     = !git fetch && git reset --hard origin/$(git current-branch)
  sc      = !git switch -c
  si      = !git switch-i
  st      = stash
  stl     = stash list
  stp     = stash pop
  ss      = status --short --branch
  tigi    = tig-i
  unstage = reset HEAD --
  wip     = commit --no-verify -m 'wip'

  author-date = !git rebase HEAD~ --committer-date-is-author-date
  current-branch = !git rev-parse --abbrev-ref HEAD
  default-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  extract-branch-name = !git current-branch | perl -pe 's/_/ /g' | perl -pe 's/-/ /g' | perl -pe 's|[^/]+/||g'

  branch-i     = !git branch | sed -e 's|remotes/origin/||g' | sk
  branch-a-i   = !git branch -a | sed -e 's|remotes/origin/||g' | sk | sed -e 's/\\*//g'
  branch-d-i   = !git branch -D $(git branch-i)
  branch-d-a-i = !git branch -D $(git branch-a-i)
  copy-i       = !git git checkout $(git branch-i) -- $1
  push-i       = !git push origin $(git branch-i)
  rebase-i     = !git rebase -i $(git log --oneline | sk | awk '{ print $1 }')^
  switch-i     = !git switch $(git branch-a-i)
  tig-i        = !tig $(git branch-a-i)
  pri          = !git switch-i && git push origin && gh pr create
  production   = checkout production
[core]
  excludesfile  = ~/.gitignore
	fileMode = true
[ghq]
  root = ~
[color]
	ui = true
[diff]
	compactionHeuristic = true
[commit]
	cleanup = strip
[grep]
	lineNumber = true
[push]
	default = current
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
