[include]
  path = ~/.gitconfig.credential
[alias]
  a       = add .
  ach     = branch -a
  adp     = add -p
  amend   = commit --amend --no-edit
  amende  = commit --amend
  author  = "!git commit --amend --no-edit --author=\"$(git config user.name) <$(git config user.email)>\""
  cc      = !git checkout-fzf
  ccb     = !git checkout-b-fzf
  cancel  = reset --soft HEAD^
  chk     = checkout
  cmm     = commit -m
  cmminit = commit -m 'Initial Commit' --allow-empty
  dc      = diff --cached
  dev     = !git checkout develop
  develop = !git checkout develop
  df      = diff
  fp      = fetch -p
  graph   = log --oneline --graph --decorate=full
  mst     = master
  mvb     = !git branch -m
  master  = !git checkout master
  mkbr    = !git checkout -b
  pog     = log -p
  po      = push origin
  pof     = push origin -f
  pod     = push origin develop
  pom     = push origin master
  pz      = !git push-fzf
  fzf     = !git branch-fzf
  pull-f  = !git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)
  r       = rebase
  ra      = rebase --abort
  rc      = rebase --continue
  ri      = rebase -i
  rod     = !git fetch && git rebase origin/develop
  rom     = !git fetch && git rebase origin/master
  rch     = branch -r
  rmb     = !git branch -d
  rmbf    = !git branch -D
  rmbz    = !git branch-d-fzf
  sh      = stash
  sl      = stash list
  sp      = stash pop
  ss      = status --short --branch
  unstage = reset HEAD --
  wmm     = weed -m

  branch-fzf     = !git branch -a | fzf | sed -e 's/\\*//g'
  checkout-fzf   = !git branch-fzf | sed -e 's|remotes/origin/||g' | xargs git checkout
  checkout-b-fzf = !git branch-fzf | sed -e 's|remotes/origin/||g' | xargs git checkout -b
  copy-fzf       = !git branch-fzf | xargs -I BRANCH git checkout BRANCH -- $1
  push-fzf       = !git branch-fzf | xargs git push origin
  branch-d-fzf   = !git branch-fzf | sed -e 's/\\*//g' | xargs git branch -D
[core]
  excludesfile  = ~/.gitignore
	fileMode = true
[ghq]
  root    = ~/src
[color]
	ui      = true
[pager]
	log     = diff-highlight | less
	show    = diff-highlight | less
	diff    = diff-highlight | less
[diff]
	compactionHeuristic = true
[commit]
	cleanup = strip
[grep]
	lineNumber = true
